.contents{
    width:100%;
    height:100%;

    padding-top: 10%;
    padding-bottom:10%;
    padding-left: 10%;
    padding-right: 10%;
}

.run {
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}